@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}
.Section12
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: block;
  background-position: 50%50%;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}
.Section12-container
{
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
}
.Section12-card
{
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 85%;
  margin: 0 auto;
}
.Section12-h4
{
  margin-bottom: 3rem;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #263d5a;
  text-align: center;
}
.form-control
{
  opacity: 0.7;
  border-radius: 10px;
}
.Section12-button
{
  padding: 16px 40px;
  border-radius: 30px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  font-style: normal;
  background-color: #a148ff;
  background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
  margin-bottom: 10%;
}
.Section12-button:hover {
  transform: translateY(-3px);
  transition: all 0.3s;
  border-color: #0a53be;
}

@media screen and (max-width:995px){
  .Section12-card
  {
    width: 100%;
  }
}
@media screen and (max-width:760px)
{
.form-control
{
  margin-bottom: 10px;
}
}